body {
  margin: auto;
}

h1 {
  margin: auto;
  text-align: center;
}

p {
  margin: auto;
  text-align: center;
}
form {
  width: 50%;
  margin: auto;
  text-align: center;

}

form input, form label {
  padding: 10px;
  display: block;
  margin: auto;
  text-align: center;
}

button {
  margin: 10px;
  display: block;
  padding: 10px;
  width: inherit;
}

.newWords{
  padding:20px;
  width: 200px;
  border: 1px solid black;
}

li {
  list-style-type: none;
}